p(hello='worl"d', data-a="b")
p(hello="worl'd", a=a.b)
input(checked=true)
input(checked="true")
input(checked=false)
input(checked="false")
input(value=hello)
input(value="#{hello}")
input.hallo(class="welt")
input.hello(class=hello)
input(value="hello " + hello)
input(value="hello " + hello + "!")
p(hello="hello" world="world")
p(hello="hello" 	world="world")
p(hello="hello"+"world" class="foo")
p(hello="hello" + "world" class="foo")
p(hello="hello"	+	"world" class="foo")
p(hello="hello"
  world="world")
p(hello="hello"
    +	"world" class="foo")
p("hello"="hello" class="foo")
p("hello"="hello" "world" class="foo")
p("hello world"="hello")